html {
  height: 100%;
  width: 100vw;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  background-color: black;
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
}

body::before {
  content: "";
  background-image: url(./IMG/BG.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  z-index: -1;
}

.entry {
  position: absolute;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -70px;
  margin-top: -50px;
  padding: 20px;
  border-radius: 150px;
  cursor: pointer;
  background: none;
  border: 2px solid white;
  color: white;
}

.entry--hide {
  display: none;
}

.main--container {
  height: 100%;
  z-index: 1;
  position: relative;
}

.show--main {
  opacity: 1;
  transition: opacity 5s ease;
  pointer-events: all;
}

.nav--container {
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  /* border: 2px dashed white; */
  margin-bottom: 100px;
}

.nav {
  display: flex;
  align-items: center;
  gap: 25px;
  position: relative;
}

.nav--dot {
  height: 20px;
  width: 20px;
  border: 1px solid white;
  border-radius: 50%;
  transition: all 0.2s ease;
  background-repeat: no-repeat;
  z-index: 1;
  cursor: pointer;
  /* box-shadow: 0px 0px 7px -1px white; */
}

.active--dot {
  background-color: white;
  transition: 0.5s ease;
}

.dot--color {
  background-color: white;
}

.line {
  position: absolute;
  width: 0%;
  background-color: white;
  height: 1px;
  z-index: -1;
  transition: 1s ease;
}

.nav--dot:hover {
  background-color: rgb(255, 255, 255);
}

/* Planet specs */
#mercury {
  height: 15px;
  width: 15px;
}

#venus {
  height: 25px;
  width: 25px;
}

#earth {
  height: 25px;
  width: 25px;
}

#jupiter {
  height: 50px;
  width: 50px;
}

#saturn {
  height: 45px;
  width: 45px;
}

#uranus {
  height: 35px;
  width: 35px;
}

#neptune {
  height: 35px;
  width: 35px;
}

#pluto {
  height: 15px;
  width: 15px;
}

/* Planet Specs end */

.planet--container {
  position: relative;
  display: flex;
  margin-bottom: 40px;
  width: 100%;
  top: 15%;
  opacity: 0;
  transition: all 2s ease;
  display: none;
  z-index: -1;
}

.active--planet {
  display: block;
  display: flex;
  justify-content: center;
  opacity: 1;
  transition: all 2s ease;
}

.planet--info {
  font-size: medium;
  color: white;
  position: absolute;
  width: 15%;
  transition: all 2s ease;
  opacity: 0;
  pointer-events: none;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

p {
  margin: 0;
}

.planet--specs {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  transition: all 2s ease;
  opacity: 0;
  pointer-events: none;
}

.spec {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-direction: column;
  padding: 10px;
  height: 13vh;
  width: 8vw;
  border: 1px solid white;
  border-radius: 15px;
  color: white;
  cursor: pointer;
  background-image: linear-gradient(to left, white 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: left center;
  transition: background-position 0.5s ease;
}

.spec:hover {
  background-position: right center;
  transition: background-position 0.5s ease;
}

.picto {
  width: 40%;
}

.dia--pic {
  width: 30%;
}

.temp--pic {
  width: 30%;
}

.text--shift {
  opacity: 1;
  transform: translateX(25%) translateY(-50%);
  transition: transform 2s ease;
}

.spec--shift {
  opacity: 1;
  transform: translateX(-105%) translateY(-50%);
  transition: all 2s ease;
}

.name {
  color: white;
  position: absolute;
  bottom: 0;
  transition: opacity 2s ease;
}

.hide {
  opacity: 0;
  pointer-events: none;
  transition: opacity 2s ease;
}

.icon--left {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  right: 0;
  top: 0;
  left: -50%;
  bottom: 0;
  margin: auto;
  width: 25px;
  height: 25px;
  border: 2px solid white;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
  z-index: 1;
}

.icon--dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: white;
  transition: 0.2s ease;
  position: absolute;
  transition: all 1s ease;
}

.icon--right {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border: 2px solid white;
  border-radius: 50%;
  color: white;
  right: -50%;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  padding: 5px;
  cursor: pointer;
  z-index: 1;
  background-image: radial-gradient(
    circle at 50% 50%,
    white 50%,
    transparent 50%
  );
  background-size: 200% 100%;
  background-position: left center;
  transition: background-position 1s ease;
}

.icon--fill {
  background-position: right center;
  transition: background-position 1s ease;
  color: black;
}

.icon--hide {
  opacity: 0;
  transition: opacity 1.5s ease;
  pointer-events: none;
}

.planet {
  width: 40%;
  transition: transform 2.5s ease-out;
  z-index: 1;
}

.shift--left {
  transform: translateX(-40%);
  transition: transform 2.5s ease-out;
}

.shift--right {
  transform: translateX(40%);
  transition: transform 2.5s ease-out;
}

.show {
  position: relative;
  transform: translateX(0);
  transition: transform 7s ease-out;
}

.orbit {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 150px;
  height: 150px;
  transform: translate(-50%, -50%);
  border: 2px dashed #f00;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.orbiting {
  animation-name: orbit;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes orbit {
  from {
    transform: rotate(0deg) translateX(35px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(35px) rotate(-360deg);
  }
}
